name: Sync mechanism manifest checks

on:
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
      - manifest.json

env:
  ACTIONS_RUNNER_DEBUG: false
  CI_COMMIT_MESSAGE: CI Build Artifacts
  GH_TOKEN: ${{ github.token }}

jobs:
  sync-checks:
    name: Sync mechanism manifest checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure Git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Run sync mechanism checks
        shell: bash
        id: sync_script
        run: |
          chmod +x ./scripts/sync-checks
          ./scripts/sync-checks